.root {
    -fx-background-color: linear-gradient(to top, rgba(213, 188, 188, 0.89), #f7f7f7);
}

.title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: rgba(213, 188, 188, 0.12);
    -fx-padding: 20px;
}

.button {
    -fx-background-color: linear-gradient(to bottom, rgba(213, 188, 188, 0), rgba(213, 188, 188, 0));
    -fx-text-fill: rgb(1, 23, 28);
    -fx-border-color: rgba(213, 188, 188, 0.16);
    -fx-border-width: 2;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 0, 5);
    -fx-min-width: 120px;
}

.button:hover {
    -fx-background-color: rgba(213, 188, 188, 0.07);
    -fx-translate-y: -3px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 10);
}
